/* Menu Colors */
$menu-background-color: url("../../assets/component-background.png");
$menutitle-text-color: #e57373;
$menuitem-text-color: $base-light-color;
$menuitem-background-color--selected: darken($base-accent-color, 8%);