/* Menu Colors */
$menu-background-color: url("../../assets/component-background.png");
$menuitem-text-color: $base-light-color;
$menuitem-text-color--disabled: darken($menuitem-text-color, 40%);
$menuitem-background-color--selected: transparentize(darken($base-accent-color, 10%), 0.25);