/* Menu Colors */
$menu-title-color: #e57373;
$menu-item-color: $accent-color;
$menu-selected-arrow-color: darken($menu-item-color, 8%);
$menu-background-color: url("../../assets/dialog-background.png");
$menu-border-color: $accent-color;