@import "./variables";

/* Commonly Mixins */
@mixin root-component {
	border: 0.75vmin ridge $component-border-color;
}

@mixin selectable ($shadow-color: $base-accent-color) {
	text-shadow: 2px 2px 2.5px $shadow-color;

	&:focus {
		&::before {
			content: "▶";
			
			display: inline;
			margin: 0 1em 0 -2em;

			text-shadow: none;

			animation: selectable-selection 0.6s linear infinite alternate;

			@keyframes selectable-selection {
				0% { opacity: 0 }
				100% { opacity: 1 }
			}
		}
	}
}

/* Menu Mixins */
@mixin menuitem {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vmin;

	color: $menuitem-text-color;
}