/* Basic Variables */
$prefix: "epilogy";
$base-color: #000000;
$base-light-color: #ffffff;
$accent-color: #f06292;

/* Dialog Variables */
@import "./dialog-variables";

/* Menu Variables */
@import "./menu-variables";