/* Basic Variables */
$prefix: "epilogy";
$base-color: #000000;
$base-light-color: #ffffff;
$base-accent-color: #f06292;

/* Components Variables */
$component-border-color: $base-accent-color;

/* Dialog Variables */
@import "./dialog-variables";

/* Menu Variables */
@import "./menu-variables";