$prefix: "epilogy";

/* 1. Basic Colors */

/* 2. Dialog Colors */
$dialog-background-color: #ddd;
$dialog-text-color: #ffffff;

/* 3. Menu Colors */
$menu-foreground-color: RGBA(0, 0, 0, 0.6);
$menu-title-color: #ed143d;
$menu-item-color: none;