$prefix: "epilogy";

/* 1. Basic Colors */

/* 2. Dialog Colors */
$dialog-text-color: #ffffff;
$dialog-background-color: url("../assets/dialog-background.png");
$dialog-border-color: #f06292;

/* 3. Menu Colors */
$menu-title-color: #d32f2f;
$menu-item-color: #e57373;
$menu-selected-arrow-color: darken($menu-item-color, 8%);
$menu-background-color: RGBA(0, 0, 0, 0.6);